<h1 class="mt-5">Your Images</h1>

<table class="table table-bordered">
  <thead class="thead-light">
    <th scope="col"><%= check_box("image_row", "selected", {:multiple => true}, 0, {checked: false}) %></th>
    <th scope="col">Name</th>
  </thead>
  <tbody>
<% @img_rows.each do |img| %>
  <%= render partial: "image_row", locals: { img: img } %>
<% end %>
  </tbody>
</table>
